.keepthispromptforlater {
	margin-left: 20px;
}
.keepthispromptforlater ol {
	list-style-type:decimal;
	margin-left:3em;
}
.keepthispromptforlater h3 {
	font-size:large;
}
.keepthispromptforlater hr {
	margin-top:1em;
	margin-bottom:1em;
}